@model DotNest.Models.RentalModel

@{
    ViewData["Title"] = "Create";
}

<h1>Ajouter un bien</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="City" class="control-label"></label>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            
            <br />
            <img id="imagePreview" style="max-width: 450px; max-height: 300px; display: none" src=""  />              
            <div class="form-group">
                <label for="Picture">Importer une image</label>
                <input name="Picture" id="Picture" class="form-control" type="file" accept="image/*">
                <span asp-validation-for="Picture" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Ajouter" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Retour à la liste</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script>
    Picture.onchange = evt => {
          const [file] = Picture.files
          if (file) {
                imagePreview.src = URL.createObjectURL(file)
                imagePreview.style.display = "block"
          }
        }
</script>
